.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.discordapp.com/attachments/782372821799141456/787608484412784650/Capture.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}